<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/game.css">
    <link rel="stylesheet" href="../assets/css/shop.css">
    <link rel="stylesheet" href="../assets/css/profil.css">
    <title>Game</title>
</head>
<body>
    <!-- navbar -->
    <nav>
        <div class="ctn">
            <div class="ctn-profil">
                <div class="picture">
                    <img src="../assets/img/profil.png" alt="profil" id="profil">
                    <img src="../assets/img/51388.png" alt="croix" id="profil-croix" style="display: none; filter: invert(100%); width: 59.25px; height: 61.94px; padding-right: 17px; margin-left: 20px">
                </div>
                <div class="name" id="navbar-pseudo">
                    <p><%= joueur.pseudo %></p>
                </div>
            </div>
            <div class="gold">
                <p id="gold-display"><%= joueur.gold %></p><span><img class="piece" src="../assets/img/gold.png" alt=""></span>
            </div>
        </div>
    
        <div class="ctn-bas">
            <img src="../assets/img/dead.png" class="mort">
            <div class="ocean">
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="boat" id="boat" style="left: 0%;">
                    <img src="../assets/img/boat.png" alt="boat">
                </div>
            </div>
            <img src="../assets/img/or.png" class="coffre">
        </div>
    </nav>
<!-- Question evenements -->
    <div class="ctn-question" id="ctn-question" >
        <div class="question">
            <h1 id="question-h1"></h1>
        </div>
        <div class="reponse">
            <div class="reponse1">
                <button id="rep-1"></button>
            </div>
            <div class="reponse2">
                <button id="rep-2"></button>
            </div>

        </div>
    </div>

    <!-- shop -->
    <div class="ctnshop" id="ctnshop" style="display: none;">
        <h1 class="titleshop">BOUTIQUE</h1>
        <div class="ctnobjet">
            <div class="left">
                <div class="objet1">
                    <div class="imgandtext">
                        <div class="ctnimg">
                            <img src="../assets/img/Ruffian_Sea_Dog_Blunderbuss.webp" alt="objet1" class="imgobjet">
                        </div>
                        <div class="ctntext">
                            <h2><%= items[3].name %></h2>
                            <p><%= items[3].description %></p>
                            <button>VOLER</button>
                        </div>
                    </div>
                </div>
                <div class="objet2">
                    <div class="imgandtext">
                        <div class="ctnimg">
                            <img src="../assets/img/Rogue_Sea_Dog_Compass.webp" alt="objet1" class="imgobjet">
                        </div>
                        <div class="ctntext">
                            <h2><%= items[0].name %></h2>
                            <p><%= items[0].description %></p>
                            <button>VOLER</button>
                        </div>
                    </div>                    
                </div>
                <div class="objet3">
                    <div class="imgandtext">
                        <div class="ctnimg">
                            <img src="../assets/img/Rogue_Sea_Dog_Spyglass.webp" alt="objet1" class="imgobjet">
                        </div>
                        <div class="ctntext">
                            <h2><%= items[1].name %></h2>
                            <p><%= items[1].description %></p>
                            <button>VOLER</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="objet4">
                    <div class="imgandtext">
                        <div class="ctnimg">
                            <img src="../assets/img/Royal_Revenge_Pistol.webp" alt="objet1" class="imgobjet">
                        </div>
                        <div class="ctntext">
                            <h2><%= items[5].name %></h2>
                            <p><%= items[5].description %></p>
                            <button>VOLER</button>
                        </div>
                    </div>
                </div>
                <div class="objet5">
                    <div class="imgandtext">
                        <div class="ctnimg">
                            <img src="../assets/img/Obsidian_Eye_of_Reach.webp" alt="objet1" class="imgobjet">
                        </div>
                        <div class="ctntext">
                            <h2><%= items[4].name %></h2>
                            <p><%= items[4].description %></p>
                            <button>VOLER</button>
                        </div>
                    </div>
                </div>
                <div class="objet6">
                    <div class="imgandtext">
                        <div class="ctnimg">
                            <img src="../assets/img/Black_Dog_Cutlass.webp" alt="objet1" class="imgobjet">
                        </div>
                        <div class="ctntext">
                            <h2><%= items[2].name %></h2>
                            <p><%= items[2].description %></p>
                            <button>VOLER</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- profil -->
    <div class="ctnprofil" id="ctnprofil" style="display: none;">
        <h1 class="titleprofil">PROFIL</h1>
        <div class="infoprofil">
            <div class="pseudo">
                <h2>Pseudo : <span><%= joueur.pseudo %></span> </h2>
            </div>
            <div class="alignement">
                <h2>Avancement : <span id="profil-avancement"></span></h2>
            </div>
            <div class="nbrgold">
                <h2>Nombre de Gold : <span id="profil-gold"></span></h2>
            </div>
        </div>
    </div>

    <div class="ctnprofil" id="ctnfin" style="display: none;">
        <h1 class="titleprofil">Récapitulatif de la partie :</h1>
        <div class="infoprofil">
            <div class="pseudo">
                <h2>Pseudo : <span><%= joueur.pseudo %></span> </h2>
            </div>

            <div class="nbrgold">
                <h2>Gold restant: <span id="fin-gold"> </span></h2>
            </div>
            <div class="alignement">
                <h2>Avancement atteint: <span id="fin-avancement"></span></h2>
            </div>
            <div class="titre-pirate">
                <h2>Votre titre : <span id="titre-pirate-span"> </span></h2>
        </div>
    </div>
    </div>

</body>
<script>
let evenements = [];

fetch('evenements.json')
  .then(response => response.json())
  .then(data => {
    evenements = data.evenements;
    loadQuestionById(1);
  });

let currentId = 1;

function loadQuestionById(id) {
    formatePseudo();
  const evenement = evenements.find(event => event.id === id);
  if (currentId == 5) {
    afficherShop();
  }
  if (evenement) {
    document.getElementById('question-h1').textContent = evenement.question;
    document.getElementById('rep-1').textContent = evenement.choix1;
    document.getElementById('rep-2').textContent = evenement.choix2;
    document.documentElement.style.setProperty('--current-background', `url("../img/event${id}.jpg")`);
  } else {
    console.error(`Aucun événement trouvé pour l'ID ${id}`);
  }
}
window.addEventListener('open', () => {
  loadQuestionById(currentId);
});

document.getElementById('rep-1').addEventListener('click', () => {
    verifAvancement(joueur.avancement);
    verifReponse(evenements[currentId - 1].choix1, evenements[currentId - 1].reponseCorrecte);
    currentId++;
    if (currentId > 10) {
        afficherFin()
  } else {
    loadQuestionById(currentId);
  }
});

  document.getElementById('rep-2').addEventListener('click', () => {
    verifAvancement(joueur.avancement);
    verifReponse(evenements[currentId - 1].choix2, evenements[currentId - 1].reponseCorrecte);
    currentId++;
    if (currentId > 10) {
        afficherFin()
  } else {
    loadQuestionById(currentId);
  }
});

joueur = JSON.parse('<%- JSON.stringify(joueur) %>');
items = JSON.parse('<%- JSON.stringify(items) %>');

function incrementGold() {
    joueur.gold = joueur.gold + 6;
    document.querySelector("#gold-display").innerText = joueur.gold;
}

function incrementAvancement() {
    joueur.avancement = joueur.avancement + 10;
    var newLeftPosition = joueur.avancement;
    document.querySelector("#boat").style.left = newLeftPosition + "%";
}

function decrementGold() {
    joueur.gold = joueur.gold - 2;
    document.querySelector("#gold-display").innerText = joueur.gold;
}

function decrementAvancement() {
    joueur.avancement = joueur.avancement - 5;
    var newLeftPosition = joueur.avancement;
    document.querySelector("#boat").style.left = newLeftPosition + "%";
}

function verifReponse(choix1, reponseCorrecte) {
    if (choix1 == reponseCorrecte) {
        incrementGold();
        incrementAvancement();
    } else {
        decrementGold();
        decrementAvancement();
    }
}

function verifAvancement(avancement) {
    if (avancement >= 100) {
        afficherFin();
    } else if (avancement <= 0) {
        afficherFin();
    }
}

profil = document.querySelector("#profil");

profil.addEventListener("click", () => {
    document.querySelector("#ctnprofil").style.display = "flex";
    document.querySelector("#ctnshop").style.display = "none";
    document.querySelector("#ctn-question").style.display = "none";
    document.querySelector("#profil-croix").style.display = "block";
    document.querySelector("#profil").style.display = "none";
    document.querySelector("#profil-gold").innerText = joueur.gold;
    document.querySelector("#profil-avancement").innerText = joueur.avancement;
}); 

profilCroix = document.querySelector("#profil-croix") 

profilCroix.addEventListener("click", () => {
    document.querySelector("#ctnprofil").style.display = "none";
    document.querySelector("#ctnshop").style.display = "none";
    document.querySelector("#ctn-question").style.display = "flex";
    document.querySelector("#profil-croix").style.display = "none";
    document.querySelector("#profil").style.display = "block";
});


let titrePirate = document.getElementById('titre-pirate-span');

function afficherTitre(n) {
    if( n <= 20){
        titrePirate.innerHTML = "Moussaillon";
    }else if(n <= 40){
        titrePirate.innerHTML = "Pirate";
    }else if(n <= 60){
        titrePirate.innerHTML = "Capitaine";
    }else if( n <= 80){
        titrePirate.innerHTML = "Amiral";
    }else if( n <= 100){
        titrePirate.innerHTML = "Roi des Pirates";
    }
}

function verifDepassement(avancement, gold) {
    if (avancement >= 100) {
        joueur.avancement = 100;
    } else if (avancement <= 0) {
        joueur.avancement = 0;
    }
    if (gold <= 0) {
        gold = 0;
    }
}

function afficherFin() {
    document.querySelector("#ctnfin").style.display = "flex";
    document.querySelector("#ctnshop").style.display = "none";
    document.querySelector("#ctn-question").style.display = "none";
    document.querySelector("#profil-croix").style.display = "none";
    document.querySelector("#profil").style.display = "none";
    document.querySelector("#ctnprofil").style.display = "none";
    document.querySelector("#gold-display").style.display = "none";
    avancementFin = document.querySelector("#fin-avancement");
    goldFin = document.querySelector("#fin-gold");
    verifDepassement(joueur.avancement, joueur.gold);
    avancementFin.innerText = joueur.avancement;
    goldFin.innerText = joueur.gold;
    afficherTitre(joueur.avancement);
}

function formatePseudo() {
    pseudo = document.querySelector("#navbar-pseudo").innerText;
    pseudo = pseudo.charAt(0).toUpperCase() + pseudo.slice(1).toLowerCase();
    document.querySelector("#navbar-pseudo").innerText = pseudo;
}


function afficherShop() {
    document.querySelector("#ctnshop").style.display = "flex";
    document.querySelector("#ctn-question").style.display = "none";
    document.querySelector("#profil-croix").style.display = "block";
    document.querySelector("#profil").style.display = "none";
    document.querySelector("#ctnprofil").style.display = "none";
    document.querySelector("#gold-display").style.display = "none";
}



</script>

</html>